<div class="gtco-section">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2 class="cursive-font primary-color">The Best</h2>
                    <p>Located on the bustling Street, The Km Restaurant offers 
							something for everyone, with an all-day contemporary menu that ranges 
							from breakfast through to lunch and dinner including light snacks, 
							sandwiches and afternoon tea.
							<br><br>
							There is also a dedicated weekend brunch menu with some delicious alternatives 
							to our mid-week à la carte and an exclusive drinks menu specially created by our 
							bartender, including some classic favourites with a twist and new creations..</p>
                </div>
            </div>
            <div class="row">

                <% menus.forEach(function(row){ %>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="<%=row.photo%>" class="fh5co-card-item image-popup">
                        <figure>
                            <div class="overlay">
                                <i class="ti-plus"></i>
                            </div>
                            <img src="<%=row.photo%>" alt="Image" class="img-responsive">
                        </figure>
                        <div class="fh5co-text">
                            <h2><%=row.title%></h2>
                            <p><%=row.description%></p>
                            <p>
                                <span class="price cursive-font"><%=row.price%></span>
                            </p>
                        </div>
                    </a>
                </div>
                <% }); %>

            
            </div>
        </div>
    </div>